.description p {
	text-align: center;
	margin-top: -125px;
}

#title{
				font-size: 36px;
				margin-left: auto;
				margin-right: atuo;
			}

			#description{
				font-size: 24px;
				margin-left: auto;
				margin-right: atuo;
			}			

			.inline img, li{
				display: inline;
			}

			.features{
				float:left;
				text-align: center;
			}

			.selected{
				background: rgba(23,134,175,0.6);
			}

			.features{
				margin-left: 5.5%;
				margin-right: 2.5%;
			}

			#feature_information{
				width: 50%;
				padding: 20px 20px 20px 20px;
				margin-top: 60px;
				margin-left: auto;
				margin-right: auto;
			}
