/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
body,
html,
div {
     margin: 0;
     padding:0;
 }
 
/*
Page is our center aligned 95% width container. We have set it's 'position' as relative
so that the Gridpak overlay will appear in the correct position. We have also updated
the gridpak.js file to use '.page' as it's container.
*/
.page {
     margin: 0 auto;
     max-width: 95%;
     overflow:hidden;
     position:relative;
}

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
    /*background: #f0f0f0;*/
    margin-bottom: 12px;
}


    /* 1. 12 Column Grid 0px - 959px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    6.5%
    Span 2:    15.0%
    Span 3:    23.5%
    Span 4:    32.0%
    Span 5:    40.5%
    Span 6:    49.0%
    Span 7:    57.5%
    Span 8:    66.0%
    Span 9:    74.5%
    Span 10:    83.0%
    Span 11:    91.5%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0px) and (max-width: 959px) {
        
        .col {
            margin-left:200%;
            margin-right:2%;
            padding:0 2%;
        }
        
        .row .col:first-child {
            margin-left:0;
        }
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1 {
            width:6.5%;
        }
        .span_2 {
            width:15.0%;
        }
        .span_3,
        .box_2 {
            width:23.5%;
        }
        .span_4 {
            width:32.0%;
        }
        .span_5 {
            width:40.5%;
        }
        .span_6,
        .description {
            width:50.0%;
        }
        .span_7 {
            width:57.5%;
        }
        .span_8 {
            width:66.0%;
        }
        .span_9 {
            width:74.5%;
        }
        .span_10 {
            width:83.0%;
        }
        .span_11 {
            width:91.5%;
        }
        .span_12, 
        .header {
            margin-left:0;
            width:100%;
        }
    }

    /* 2. 12 Column Grid 960px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    6.5%
    Span 2:    15.0%
    Span 3:    23.5%
    Span 4:    32.0%
    Span 5:    40.5%
    Span 6:    49.0%
    Span 7:    57.5%
    Span 8:    66.0%
    Span 9:    74.5%
    Span 10:    83.0%
    Span 11:    91.5%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 920px) {
        
        .row {
            margin-left:-5px;
        }
        .col {
            border-left-width:12px;
            padding:0 12px;
        } 
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */

        .span_point_5 {
            width:4.1666666667%;
        }

        .span_1 {
            width:8.3333333334%;
        }

         .span_1_5, .spacer {
            width: 12.4999999999%;
        }

        .span_2{
            width:16.6666666667%;
        }

        .span_2_3 {
            width: 19.4444444444%;
        }

        .span_2_5{
            width: 20.8333333334%;
        }

        .span_3,
        .box_2,
        .navigation,
        .related_content {
            width:25.0%; 
        }

        .span_4,
        .media_block {
            width:33.3333333334%;
        }

        .span_5 {
            width:41.6666666667%;
        }

        .span_6, 
        .description,
        .main-content {
            width:50.0%;
		}

        .span_7 {
            width:58.3333333334%;
        }

        .span_8 {
            width:66.6666666667%;
        }
        
        .span_9 {
            width:75.0%;
        }
        
        .span_10 {
            width:83.3333333334%;
        }
        
        .span_11 {
            width:91.6666666667%;
        }
        
        .span_12, 
	    .header {
	        margin-left:0;
	        width:100%;
        }
    }
