body{
	background: url(../img/pricing/background.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.pricing_option{
	text-align: center;
	color: white;
	margin-top: 60px;
	padding-top: 60px;
	padding-bottom: 60px;
	font-size: 50px;

}

.header{
	text-align: center;
	font-size: 100px;
	color: white;
}

.pricing_details{
	padding-top: 10px;
	font-size: 20px;
	background-color:rgba(255,255,255,0.6);
	margin-top: -173px;

}

.pricing_details > ul {
	list-style-type: none;
}

.pricing_details > ul > li {
	margin-top: 30px;
}


#study{
	background: #767475;
}

#account{
	background: #f76839;
}

#flat{
	background: #3085af;
}

.spacer{
	height: 400px;
}

.contact_button {
	margin-right: 25px;
	background-color:#3085af;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:9px 14px;
	text-decoration:none;
	float: right;
}.contact_button:hover {
	background-color:#6b6b6b;
}.contact_button:active {
	position:relative;
	
}