/*!
 * Styles: We should try to standardize our stylesheets. List your section-specific CSS elements under a heading so we know 
    where we're using unique styles. It'll help standardize formatting and CSS inheritance.
 *
 */

/*support*/

/*Use for the section heading formatting*/
.section-heading {
    padding-left:20px;
    font-size:70px;
}
/*Use for the most important information under the section heading*/
.heading_2 {
    font-size:60px;
}

/*Use for the two box page*/
.box_2.col{
    text-align:center;
}

/*Use for the descriptions. Even if they end up being different sizes, they should be the same proportion*/
.support {
    margin-top:4%;
    font-size:20px;
}

/* testimonials */
.bxslider_testimonials li{
                background: black;
                color: white;
            }

.bxslider_testimonials img{
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-right: 10%;
    float: left;
}

.caption{
    padding-right: 10%;
}

.source{
    padding
}
.name{
    font-size: 30px;
    font-style: oblique; 
}
.title{
    font-size: 25px;
    font-style: oblique;
    color: #48bffa;
}

/* features */
 .slider_icons li, .slider_descriptions li{
                display: inline;
                font-size: 24px;                
            }


            .selected{
                border-bottom: 5px solid rgba(24, 134, 175, .6);
            }

            .slider_icons > li > div > img{
                width: 160px;

            }

            .slider_icons > li > div{   
                float: left;
                text-align: center;     
                margin-left: 4%;    
                margin-right: 4%;           
                margin-bottom: 62px;
            }

            .slider_icons > li > div:hover{
                cursor: pointer;
                border-bottom: 5px solid rgba(24, 134, 175, .6);
            }

            .slider_descriptions > li > p{
                text-align: center;
            }

            .slider_icons{
                text-align: center;
                margin-bottom: 250px;
            }

            #next, #prev{
                cursor: pointer;
            }