/* Colors
==================================================
Dark Grey:     #565656     ||      rgb(86, 86, 86) 
Orange:        #f76839     ||    rgb(247, 104, 57) 
Light Blue:    #48bffa     ||     rgb(8, 191, 250) 
Dark Blue:     #1886af     ||    rgb(24, 134, 175)
Grey:          #767475     ||   rgb(118, 116, 117)
==================================================
*/

/* Font Options: for development, not final listing
==================================================
italics
    light: 300italic, 
    normal: 400italic,
    semi-bold: 600italic,
    bold: 700italic
    extra-bold: 800italic,
regular
    normal: 400,
    light: 300, -> blockquote, overview sub-body
    bold: 700, -> button, 
    semi-bold: 600, -> testimonial name
    extra-bold: 800
==================================================
*/

/*TODO: consistentify font styling, make sectional layout proportional,
make sizing responsive -- font, images, page layouts, javascript-based site navigation
 */

/* Sitewide Styling
=========================================== */

body{
    font-family: 'Open Sans', sans-serif;
}

.button{
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    padding:9px 14px;
    text-decoration:none;
    float: right;
}

a{
    text-decoration: none;
    color: #f76839;
}

a:hover{
    color: rgb(178,217,244);
    text-decoration: underline;
}

blockquote {
    font-weight:300;
    font-size: 150%;
}

/* This offsets anchor location to compensate for the header height, if header height changes this must be adjusted */
.anchor{
       display: block;
       height: 125px;
       margin-top: -125px;
       visibility: hidden;
   }

.button:hover {
        background-color:#6b6b6b;
}
.button:active {
        position:relative;
}

.content{  
    overflow: hidden;
}

.page {
    margin-top: 2%;
}

.opaque{
    background-color:rgba(243,239,234,0.6);
}

ul {
    list-style-type: none;
}

/** Clearfix **/
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Site Header
=========================================== */
.site_header {
    width: 100%;
    position: fixed;
    color: white;
    font-size: 20px;
    background-color: rgb(86, 86, 86);
    background-color: rgba(86, 86, 86, .95);
    z-index: 10000;
}

.site_header_contact{
    margin-right: 25px;
}

.site_header a{
    color: #fff;
}

.site_header img{
    margin-left: 25px;
    margin-top: 10px;
}
.trial_button {
    margin-top: -3px;
    margin-left: 20px;

    margin-right: 25px;
    background-color:#f76839;
}

.site_header img{
    float: left;
}

.site_header ul{    
    text-align: right;
    margin-right: 20px;
}

.site_header ul li{
    display: inline;
    list-style-type: none;
}

#contact-bullet {
    color: rgb(8, 191, 250);
}


/* Landing Page
=========================================== */   
.landing_page{ 
    background: url(../img/background_3.png);
    margin-top: -100px;
    height: 1300px;
    background-size: 100%;
    background-repeat: no-repeat;
}



/* Testimonials
=========================================== */
.testimonial_slider{
    table-layout: fixed;
}

.testimonials{
    background-color:black;
    background-repeat:no-repeat;
    background-size: 110%;
    color: white;
    overflow: hidden;
    margin-top: -12%;
    padding-bottom: 25px;
    z-index:4;
}

.slide{
    height: 250px;
    overflow: hidden;
}
.slide img{
    padding-top: 1%;
    padding-bottom: 5%;
    padding-right: 10%;
    float: left;
}

.caption{
    overflow: auto;
}

.name{
    font-weight: 600;
    font-size: 30px;
    font-style: oblique; 
}
.title{
    font-size: 25px;
    font-style: oblique;
    color: #48bffa;
}

.content_slides{
    width: 90%;
}

/* Overview
=========================================== */
.overview-image {
    /*TODO: formatting and lining up with descriptions*/
}
.section-subheading {
    font-size: 250%;
    margin-bottom: 5%;
    color: #3085af;
    text-align: center;
}

.section-subbody {
    font-weight: 300;
    font-size: 120%;
    margin-bottom: 5%;
    text-align: center;
}

hr.overview {
    border-color: rgba(0,0,0,.3);
    margin-bottom: 5%;
}

/* Uses
=========================================== */
body.uses {
/*  background: url(../img/uses/subtle-texture.png); */
 background-size: 100%;
 background-repeat: no-repeat;
}

img#uses-image {
    max-width:80%;
    max-height:80%;
    text-align:center;
}

.uses-description {
    font-weight: 300;
    padding-top: 5%;
    font-size:150%;
    padding-bottom:5%;
}

.uses-subdivisions {
    text-align:center;
}

.uses-subdescriptions {
    font-weight: 300;
    font-size:120%;
}

/* Features
=========================================== */
.slider_icons li, .slider_descriptions li{
    display: inline;
    font-size: 20px;                
}


.selected{
    border-bottom: 5px solid rgba(24, 134, 175, 1);
}

.slider_icons > li > div:hover{
    cursor: pointer;
    border-bottom: 5px solid rgba(24, 134, 175, .6);
}

.slider_icons > li > div > img{
    width: 240px;
}

.slider_icons > li > div{   
    float: left;
    text-align: center;     
    margin-left: 4.5%;    
    margin-right: 4.5%;           
    margin-bottom: 71px;    
}


.slider_descriptions {
    margin-top: -40px;
}
.slider_descriptions > li > p{
    text-align: center;
}

.slider_icons{
    text-align: center;
    overflow: hidden;
}

#next, #prev{
    cursor: pointer;
}

/* Support
=========================================== */
/*Use for the section heading formatting*/
.section_heading {
    padding-left:20px;
    font-size:70px;
}
/*Use for the most important information under the section heading*/
.heading_2 {
    font-size:60px;
}
.heading_3 {
    font-size:28px;
}

/*Use for the two box page*/
.box_2.col{
    text-align:center;
}

.box_6.col{
    text-align:center;
}

.support-circle {
    text-align: center;
}

/*Use for the descriptions. Even if they end up being different sizes, they should be the same proportion*/
/*.support {
    margin-top:4%;
    font-size:20px;
}*/

.description {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 150%;
}

/* Pricing
=========================================== */
/*.pricing{
    background: url(../img/pricing/background_optimized.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}*/

.pricing_option{
    text-align: center;
    color: white;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 50px;
}

.pricing_details{
    padding-top: 10px;
    font-weight: 300;
    font-size: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
}

.pricing_details > ul > li {
    margin-top: 30px;
}

.spacer{
    height: 400px;
}

#study{
    background: #767475;
}

#account{
    background: #f76839;
}

#flat{
    background: #3085af;
}

.contact_button {
    margin-right: 25px;
    background-color:#3085af;
    }


/* About Us
=========================================== */
/*.about_us{
    background: url(../img/about_us/background_optimized.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
*/

.vertical_spacer{
    margin-top: 60px;
}

.text_box {
    height: 660px;
    margin-bottom: 100px;
}

.text_box > p {
    font-size: 30px;
    font-weight: 300;
}

.values ul > li {
    margin-left: 40px;
    margin-right: 40px;
    display: inline;
}

.values img {
    width: 100px;
}

#story > p{
    font-size: 20px;
    font-weight: 300;
}

     
/* Contact
=========================================== */

.header_black{
    text-align: center;
    font-size: 100px;
    color: black;
    margin-bottom: 2%;
}

.message p{
    font-style: oblique;
    font-size: 24px;
    text-align: right;
}

#disclaimer{
    font-size: 12px;
}

.inputs{
    float:right;
    margin-right: 40px;
}

.inputs input[type="text"]{
    font-size: 24px;
    border: 1px solid #f76839;
}

.inputs button{
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
}

.contact_methods ul{
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 300;
}

.type{

}

.submit_button {
    float:right;
    background-color:#f76839;
}

/* Free Trial
=========================================== */
.container {
    margin-left: 16.6666666667%;
    margin-right: 16.6666666667%;
}

@media screen and (min-width: 920px) {

    .trial-title {
        margin-top: 3%;
        font-size: 300%;
        text-align: center;
    }

    .trial-subhead {
        margin-top: -1%;
        font-size: 150%;
        font-weight: 300;
        text-align: center;
        margin-bottom: 3%;
    }

    form {
        font-size: 130%;
        font-weight: 300;
    }

    .signup-field {
        width: 100%;
        height: 30px;
        border: 2px solid grey;
        margin-top: -5px;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }

    .required {
        color: #f76839;
        font-weight: 700;
    }

    #other-row {
        display:none;
    }
}

 @media screen and (min-width: 0px) and (max-width: 919px) {

    .trial-title {
        margin-top: 3%;
        font-size: 200%;
        text-align: center;
    }

    .trial-subhead {
        margin-top: -1%;
        font-size: 120%;
        font-weight: 300;
        text-align: center;
        margin-bottom: 3%;
    }

    form {
        font-size: 100%;
        font-weight: 300;
    }

    .signup-field {
        width: 150%;
        height: 20px;
        border: 2px solid grey;
        margin-top: -5px;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }

    .required {
        color: #f76839;
        font-weight: 700;
    }

    #other-row {
        display:none;
    }

    .field-name {

    }
}
