/*!
 * Styles: We should try to standardize our stylesheets. List your section-specific CSS elements under a heading so we know 
    where we're using unique styles. It'll help standardize formatting and CSS inheritance.
 *
 */

/*support*/

/*Use for the section heading formatting*/
.section-heading {
    padding-left:20px;
    font-size:70px;
}
/*Use for the most important information under the section heading*/
.heading_2 {
    font-size:60px;
}

.heading_3 {
    font-size:28px;
}

/*Use for the two box page*/
.box_2.col{
    text-align:center;
}

/*Use for the descriptions. Even if they end up being different sizes, they should be the same proportion*/
.span_6.col {
    margin-top:4%;
    font-size:20px;
}

.description {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 150%;
}

/*overview*/
body.overview {
    background: url(../img/overview/subtle-texture.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

img#overview-image {
    max-width:100%;
    max-height:100%;
    text-align:center;
}

#overview-description {
    padding-top: 5%;
    font-size:150%;
    padding-bottom:5%;
}