/*!
 * Styles: We should try to standardize our stylesheets. List your section-specific CSS elements under a heading so we know 
    where we're using unique styles. It'll help standardize formatting and CSS inheritance.
 *
 */


/* Colors
==================================================
Dark Grey:     #565656     ||      rgb(86, 86, 86) 
Orange:        #f76839     ||    rgb(247, 104, 57) 
Light Blue:    #48bffa     ||     rgb(8, 191, 250) 
Dark Blue:     #1886af     ||    rgb(24, 134, 175)
Grey:          #767475     ||   rgb(118, 116, 117)
==================================================
*/

/* Sitewide Styling
=========================================== */

body{
    font-family: 'Open Sans', sans-serif;
}

.button{
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    padding:9px 14px;
    text-decoration:none;
    float: right;
}

a{
    text-decoration: none;
    color: #f76839;
}

/* This offsets anchor location to compensate for the header height, if header height changes this must be adjusted */
.anchor{
       display: block;
       height: 125px;
       margin-top: -125px;
       visibility: hidden;
   }

.button:hover {
        background-color:#6b6b6b;
}
.button:active {
        position:relative;
}

.content{
    padding-top: 110px;
    overflow: scroll;
}


/* Site Header
=========================================== */
.site_header {
    width: 100%;
    position: fixed;
    color: white;
    font-size: 20px;
    background-color: rgb(86, 86, 86);
    background-color: rgba(86, 86, 86, .95);
    z-index: 10000;

}

.site_header_contact{
    margin-right: 25px;
}

.site_header a{
    color: #fff;
}

.trial_button {
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    background-color:#f76839;
}

.site_header img{
    float: left;
}

.site_header ul{    
    text-align: right;
    margin-right: 20px;
}

.site_header ul li{
    display: inline;
    list-style-type: none;
}


/* Landing Page
=========================================== */   
.landing_page{ 
    background: url(../img/background.jpg);
    height: 1300px;
    background-size: 100%;
    background-repeat: no-repeat;
}


/* Testimonials
=========================================== */
.testimonials{
    margin-top: -100px;
    height: 400px;
    overflow: hidden;
    background-color: #000;
}

.bxslider_testimonials li{
    background: black;
    color: white;
}

.bxslider_testimonials img{
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-right: 10%;
    float: left;
}

.caption{
    padding-right: 10%;
}


.name{
    font-size: 30px;
    font-style: oblique; 
}
.title{
    font-size: 25px;
    font-style: oblique;
    color: #48bffa;
}

/* Uses
=========================================== */
body.uses {
 /* background: url(../img/uses/subtle-texture.png); */
 background-size: 100%;
 background-repeat: no-repeat;
}

img#uses-image {
    max-width:80%;
    max-height:80%;
    text-align:center;
}

#uses-description {
    padding-top: 5%;
    font-size:150%;
    padding-bottom:5%;
}

.uses-subdivisions {
    text-align:center;
}

.uses-subdescriptions {
    font-size:120%;
}

/* Features
=========================================== */
.slider_icons li, .slider_descriptions li{
    display: inline;
    font-size: 20px;                
}


.selected{
    border-bottom: 5px solid rgb(24, 134, 175);
    border-bottom: 5px solid rgba(24, 134, 175, .6);
}

.slider_icons > li > div > img{
    width: 160px;
}

.slider_icons > li > div{   
    float: left;
    text-align: center;     
    margin-left: 4.5%;    
    margin-right: 4.5%;           
    margin-bottom: 71px;    
}

.slider_icons > li > div:hover{
    cursor: pointer;
    border-bottom: 5px solid rgba(24, 134, 175);
    border-bottom: 5px solid rgba(24, 134, 175, 1);
}

.slider_descriptions > li > p{
    text-align: center;
}

.slider_icons{
    text-align: center;
    margin-bottom: 250px;
}

#next, #prev{
    cursor: pointer;
}

/* Support
=========================================== */
/*Use for the section heading formatting*/
.section-heading {
    padding-left:20px;
    font-size:70px;
}
/*Use for the most important information under the section heading*/
.heading_2 {
    font-size:60px;
}
.heading_3 {
    font-size:28px;
}

/*Use for the two box page*/
.box_2.col{
    text-align:center;
}

/*Use for the descriptions. Even if they end up being different sizes, they should be the same proportion*/
.support {
    margin-top:4%;
    font-size:20px;
}

.description {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 150%;
}

/* Pricing
=========================================== */
.pricing{
    background: url(../img/pricing/background_optimized.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.pricing_option{
    text-align: center;
    color: white;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 50px;
}

.header{
    margin-top: 10px;
    text-align: center;
    font-size: 100px;
    color: white;
}

.pricing_details{
    padding-top: 10px;
    font-size: 20px;
    background-color:rgba(255,255,255);
    background-color:rgba(255,255,255,0.6);
    margin-top: -165px;
    padding-right: 20px;
    margin-bottom: 100px;
}

.pricing_details > ul {
    list-style-type: none;
}

.pricing_details > ul > li {
    margin-top: 30px;
}

.spacer{
    height: 400px;
}

#study{
    background: #767475;
}

#account{
    background: #f76839;
}

#flat{
    background: #3085af;
}

.spacer{
    height: 400px;
}

.contact_button {
    margin-right: 25px;
    background-color:#3085af;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    padding:9px 14px;
    text-decoration:none;
    float: right;
    }
.contact_button:hover {
    background-color:#6b6b6b;
}
.contact_button:active {
    position:relative;
}


/* About Us
=========================================== */
.about_us{
    background: url(../img/about_us/background_optimized.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.header{
    text-align: center;
    font-size: 100px;
    color: white;
}


.vertical_spacer{
    margin-top: 60px;
}

.text_box {
    background-color:rgba(255,255,255);
    background-color:rgba(255,255,255,0.8);
    height: 660px;
    margin-bottom: 100px;
}

.text_box > p {
    font-size: 30px;
}

.values ul {
    list-style-type: none;
}

.values ul > li {
    margin-left: 40px;
    margin-right: 40px;
    display: inline;
}

.values img {
    width: 100px;
}

#story > p{
    font-size: 20px;
}

     
/* Contact
=========================================== */

.header_black{
    text-align: center;
    font-size: 100px;
    color: black;
}

.message p{
    font-style: oblique;
    font-size: 24px;
    text-align: right;
}

#disclaimer{
    font-size: 12px;
}


.inputs{
    float:right;
    margin-right: 40px;
}

.inputs input[type="text"]{
    font-size: 24px;
    border: 1px solid #f76839;
}

.inputs button{
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
}

.contact_box ul {
    list-style-type: none;
}

.contact_methods ul{
    margin-bottom: 35px;
    font-size: 24px;
}

.type{
    font-style: oblique;
}

.method a {
    text-decoration: none;
}

.submit_button {
    float:right;
    background-color:#f76839;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    padding:9px 14px;
    text-decoration:none;
}
.trial_button:hover { 
    background-color:#6b6b6b;
}

.trial_button:active {
    position:relative;
}
